{% extends "awgtgl/base.html" %}

{% block navbar %}
<ul class="nav nav-pills">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="{% url 'pathfinder' %}">Pathfinder</a></li>
    <li><a href="{% url 'journals' %}">Journals</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
 </ul>
{% endblock %}

{% block content %}
	<style type="text/css">
		body {background-color: #141414}
		h1,p {color: white; text-align: center;}
		img {display: block; margin: 0 auto;}
		h2 {text-align: center; color: white;}
		a {text-align: center;}
		.hotlinks {margin: 0px auto;}
	</style>

	<div class="header">
		<h1>A Web Guide To Getting Lost</h1>
		<p><i>"Every walker is a guard on patrol to protect the ineffable."</i> -Rebecca Solnit, <i>Wanderlust</i></p>
	</div>

	<div class="container-fluid hotlinks" style="height: 500px">
		<div class="row">
			<div class="col-md-6">
				<a href="{% url 'journals' %}">
					<img src="../static/images/journal-ico.png" class="img-thumbnail center-block" alt="Journal Image" width="140" height="140" align="middle">
				</a>
				<h2>Journals</h2>
			</div>
			<div class="col-md-12">
				<a href="{% url 'pathfinder' %}">
					<img src="../static/images/map-ico.png" class="img-thumbnail center-block" alt="Map Image" width="140" height="140">
				</a>
				<h2>Pathfinder</h2>
			</div>

			<div class="col-md-12">
				<h2>How does it work?</h2>
				<p>
					Click the link above to be taken to our Pathfinder. It randomly selects latitutde and longitude coordinates from an area of your choice. While exploring, you can jot down your thoughs with the journal widget to the side.
				</p>
			</div>
		</div>
	</div>
{% endblock %}