{% extends "awgtgl/base.html" %}

{% block navbar %}
<ul class="nav nav-pills">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'pathfinder' %}">Pathfinder</a></li>
    <li class="active"><a href="">Journals</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
 </ul>
{% endblock %}

{% block content %}
    <h1 class="header">View Journal</h1>

    <div class="row">
        <div class="col-md-12">
            <img src="{{mapurl}}">
        </div>
        <div class="col-md-12">
            <h2>Your log</h2>
            <input id="writer" type="text" placeholder="What are you feeling?" autocomplete="off" class="center-block" >
            <input type="submit" value="Go" class="center-block pathfinder-submit">
            <ul class="journal" id="journal" class="center-block">
                {% for entry in textentries reversed %}
                    {{entry}}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}