{% extends "awgtgl/base.html" %}

{% block navbar %}
<ul class="nav nav-pills">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'pathfinder' %}">Pathfinder</a></li>
    <li class="active"><a href="">Journals</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
 </ul>
{% endblock %}

{% block content %}
    <h1 class="header">{{username}}'s Journals</h1>

    <div class="row">
        {% for image,journal in journals reversed %}
            <div class="col-md-12" style="margin-bottom: 10px;">
                <a href="{% url 'view_journal' journal.id %}"><img src="{{image}}"></a>
            </div>
        {% endfor %}
    </div>

{% endblock %}